body {
  margin: 0;
  background: radial-gradient(circle at top, #eef2f7, #d9dde4);
  font-family: "Segoe UI", sans-serif;
}

#wrapper {
  padding: 20px;
}

#card {
  background: white;
  margin: auto;
  padding: 25px;
  border-radius: 28px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  max-width: 480px;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  color: #003a73;
}

.inp {
  width: 100%;
  margin-top: 12px;
  height: 48px;
  border-radius: 14px;
  border: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  background: #f8f9fa;
}

#kundenButtons {
  margin-top: 20px;
}

#kundenButtons button {
  width: 100%;
  height: 52px;
  border-radius: 14px;
  border: 1px solid #c5c9cf;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(#fff,#eef1f4);
  color: #003a73;
}

#footerBtns {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.btn-dark {
  width: 48%;
  height: 55px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: linear-gradient(#60656c,#3a3f44);
  border: none;
}

.btn-blue {
  width: 48%;
  height: 55px;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: linear-gradient(#007bff,#0056b3);
  border: none;
}

/* Tastatur */
#keyboardPopup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

#keyboardBox {
  width: 90%;
  max-width: 420px;
  background: white;
  padding: 18px;
  border-radius: 18px;
  text-align: center;
}

#keyboardInput {
  width: 90%;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

#keyboardGrid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 8px;
  margin-bottom: 15px;
}

#keyboardGrid button {
  height: 48px;
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f1f1f1;
}

#kbActions {
  display: flex;
  justify-content: space-between;
}

.kb-red {
  background: #d9534f;
  font-weight: 900;
  color: white;
  border-radius: 12px;
  height: 48px;
  width: 30%;
}

.kb-green {
  background: #28a745;
  font-weight: 900;
  color: white;
  border-radius: 12px;
  height: 48px;
  width: 30%;
}

.kb-grey {
  background: #6c757d;
  font-weight: 900;
  color: white;
  border-radius: 12px;
  height: 48px;
  width: 30%;
}